.navbar {
    z-index: 2;
    position: sticky;
    top: 0;
    width: 100%;
    box-shadow: black 1px 1px 5px 1px;
    background-color: white;
    margin-bottom: 10px;
    z-index: 2;
}

.navbar-brand {
    margin: 0;
    font-family: 'Playfair Display';
}

.profLink {
    display: flex;
    align-items: center;
}

.bi-person-circle {
    margin-right: 5px;
}

.nav-link-text{
    font-size: 24px;
    color: black;
    text-decoration: none;
}

.nav-link-text:hover {
    transition: 0.1s ease-in;
    color: var(--green);
}

.dropdown {
    font-size: 24px;
}

.dropdown-item {
    font-size: 20px;
}

.link-text {
    color: black;
    letter-spacing: 2px;
    font-family: 'Playfair Display'
}

.logo {
    height: 50px;
    margin-right: 16px;
    width: 50px;
    margin-right: 16px;
    background-color: #ffffff;
}

.navbar-brand {
    font-size: 40px;
    letter-spacing: 2px;
}

.icon {
    height: 16px;
    margin-right: 16px;
    width: 16px;
    border-radius: 50%;
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    margin-right: 16px;
    background-color: #e5efd9;
}